/* index.css of contribuidores*/

body {
    /* Geral */
    color: white;
    background-color: rgb(49, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    /* Navbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #231a1a;
    color: #fff;
    padding: 8px 16px;
    box-sizing: border-box;
    z-index: 1000;
}

.btn-link{
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s ease; /* transicaosinha top */
}

.btn-link:hover {
    transform: scale(1.1); /* diminui o baguio q cresceu */
    color: white;
    text-decoration: none;
}

.Home-link{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s ease; /* transicaosinha top */
}

.Home-link:hover{
    transform: scale(1.5); /* diminui o baguio q cresceu */
    color: white;
    text-decoration: none;
}

img {
    /* Logo */
    margin-top: 50px;
    width: 150px;
    height: 140px;
    border-radius: 100%;
    border: 3px solid rgb(223, 205, 179);
}

.center {
    /* Centralização da logo */
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    /* Título principal */
    color: bisque;
    font-size: 40px;
}

h2 {
    /* Subtítulo */
    color: rgb(223, 205, 179);
    font-size: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Garante que as colunas tenham a mesma altura */
}

.col1 {
    background-color: bisque;
    margin-right: auto; /* Gruda na borda direita */
    margin-left: 0; /* Garante que não há margem à esquerda */
}

.col2 {
    background-color: bisque;
    margin-left: auto; /* Gruda na borda esquerda */
    margin-right: 0; /* Garante que não há margem à direita */
}

/* Estilo personalizado para o carrossel */
.carousel-item img {
    height: 475px;
    width: 10%;
    object-fit: cover;
    border-radius: 0 !important; /* Anula qualquer borda arredondada aplicada pelo Bootstrap */
}

.carousel-inner {
    max-width: 30%; /* Define a largura máxima para 50% da tela */
    margin: auto; /* Centraliza horizontalmente o carrossel */
}

.carouselExampleControls{
    height: 10px;
}

.center-container {
    display: flex;
    justify-content: center;
}

.nomes{
    margin-bottom: -20px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.text-purple {
    color: #6f42c1; /* Roxo */
}
.text-blue {
    color: #3f0bb1; /* Azul */
}
.text-orange {
    color: #fd7e14; /* Laranja */
}
.text-pink {
    color: #dc3f88; /* Rosa */
}

.carousel-caption-container {
    position: absolute;
    bottom: 450px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Texto com maior prioridade */
    background-color: bisque;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: 1px;
    border-radius: 5px;
    width: 80%; /* Largura da div do texto */
    text-align: center; /* Centraliza o texto horizontalmente */
    font-family: fantasy;
    font-weight: bold;
    font-size: 25px;
}
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 50%; 
}

.carousel-item {
    position: relative;
}
